Django==1.8.5
django-allauth==0.25.2
django-cors-headers==1.1.0
django-rest-auth==0.7.0
djangorestframework==3.3.3
gunicorn==19.3.0
oauthlib==1.0.3
Pillow==2.8.0
python-openid==2.2.5
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
